
.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 5px !important;
    z-index: 1000;
    border: 0;
    background: rgba(163, 175, 180, 1) !important;
    min-width: 35px !important;
    min-height: 50px !important;
    opacity: 0.9 !important;
    cursor: pointer;
}

.order{
    top: 110px;
    position: absolute;
    left: 130px;
    opacity: 0.8;
}
